@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body { font-family: 'Lobster', cursive; margin: 0; padding: 0; background: linear-gradient(270deg, rgb(231, 231, 218), rgb(204, 236, 211)); }
.full-screen { width: 100vw; min-height: 100vh; }
.flex-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.text-xl { font-size: 4rem; }
@keyframes fade-in {
    from {opacity: 0; transform: translateY(150px);}
    to {opacity: 1; transform: translateY(0);} }
@keyframes fade-right {
    from {opacity: 0; transform: translateX(1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes fade-left {
    from {opacity: 0; transform: translateX(-1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes jump-in-s {
    0% {opacity: 0; transform: scale(0.6);}
    50% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);} }
@keyframes jump-in-f {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes fade-opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-opac-slow {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fromTop {
    0% { top: -500px; }
    20% { top: -500px; }
    100% { top: 0px; }
}
.hidden, .hidden-r, .hidden-l, .hidden-jF, .hidden-jS, .hidden-o, .hidden-o2 { opacity: 0; }
.fade-in-element { animation: fade-in 2s; }
.fade-in-element-r { animation: fade-right 2s; }
.fade-in-element-l { animation: fade-left 2s; }
.jump-in-element-f { animation: jump-in-f 2s; }
.jump-in-element-s { animation: jump-in-s 4s; }
.opac { animation: fade-opac 3s; }
.opac2 { animation: fade-opac-slow 4s; }
.comeDown {
    position: relative;
    animation: 2.5s fromTop forwards;
    z-index: 1;
}

body::-webkit-scrollbar { display: none; }
body {
    color: #31D02F;
    /* font-family: 'Oxygen', sans-serif; */
    /* font-weight: 300; */
    /* letter-spacing: -0.75px; */
    -ms-overflow-style: none;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: -2.5px;
}
p, a {
    font-weight: 300;
    letter-spacing: -1.55px;
}
ul > li > a.nav-link {
    color: white;
    /* background-color: transparent; */
    transition: 1s ease;
    padding: 5px 15px;
    margin: 5px 25px;
    border-bottom: 4px solid white;
    border-radius: 15px;
}
ul > li > a.nav-link:hover {
    color: #31D02F;
    background-color: white;
    border-bottom: 4px solid #81562A;
    transition: 0.3s ease;
}
.cover {
    background: linear-gradient(90deg, rgb(14, 144, 12), rgb(106, 195, 46));
    padding: 20px 0px 30px 0px;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1 { background-image: url("../static/study1.jpg"); }
.bg2 { background-image: url("study2.jpg"); }
.bg3 { background-image: url("study3.jpg"); }
.cover-tall { height: 500px; }
.cover-mid { height: 300px; }
.cover-tight { height: 150px; }
.spacer-l { margin: 50px 0px; }
.spacer-m { margin: 25px 0px; }
.spacer-s { margin: 15px 0px; }
.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-fluid { padding: 0 }
.jumbotron { 
    background: linear-gradient(270deg, rgb(14, 144, 12), rgb(106, 195, 46)); 
    border-radius: 0;
    color: white;
}