@keyframes fade-in {
    from {opacity: 0; transform: translateY(150px);}
    to {opacity: 1; transform: translateY(0);} }
@keyframes fade-out {
    from {opacity: 1; transform: translateY(0px);}
    to {opacity: 0; transform: translateY(0);} }
@keyframes fade-right {
    from {opacity: 0; transform: translateX(1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes fade-left {
    from {opacity: 0; transform: translateX(-1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes jump-in-s {
    0% {opacity: 0; transform: scale(0.6);}
    50% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);} }
@keyframes jump-in-f {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes fade-opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-opac-slow {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fromTop {
    0% { top: -500px; }
    20% { top: -500px; }
    100% { top: 0px; }
}
.hidden, .hidden-r, .hidden-l, .hidden-jF, .hidden-jS, .hidden-o, .hidden-o2, .hidden-fadeOut { opacity: 0; }
.fade-in-element { animation: fade-in 2s; }
.fade-out-element { animation: fade-out 2s; }
.fade-in-element-r { animation: fade-right 2s; }
.fade-in-element-l { animation: fade-left 2s; }
.jump-in-element-f { animation: jump-in-f 2s; }
.jump-in-element-s { animation: jump-in-s 2s; }
.opac { animation: fade-opac 3s; }
.opac2 { animation: fade-opac-slow 4s; }
.comeDown {
    position: relative;
    animation: 2.5s fromTop forwards;
    z-index: 1;
}
.grow {
    transition: 0.3s ease;
    transform: scale(1);
}
.grow:hover {
    transition: 0.3s ease;
    transform: scale(1.025);
}
.grow:active {
    transition: 0.15s ease;
    transform: scale(0.975);
}
.logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.full-height {
    height: 100vh;
}

.frame {
    background-color: black;
    border: 10px solid black;
    border-radius: 0;
}

body::-webkit-scrollbar { display: none; }
body {
    background: linear-gradient(180deg, black, #050505);
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.25px;
    -ms-overflow-style: none;
}
h1, h2, h3, h4, h5 {
    font-weight: 100;
    letter-spacing: -0.45px;
}
.left-mid {
    position: absolute;
    left: 0;
    top: 32%;
    z-index: 100;
    width: 23%;
    text-align: center;
    padding: 15px;
    /* background-color: black; */
}
#leftQuote {
    /* box-shadow: 4px 4px rgba(75, 75, 75, 0.3); */
    font-weight: 300;
    font-size: 32px;
}
ul > li > a.nav-link, a.list-group-item, a {
    color: white;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition: 0.25s ease;
    text-decoration: none;
}
ul > li > a.nav-link:hover, a.list-group-item:hover, a:hover {
    color: rgb(61, 208, 61);
    /* color: rgb(239, 179, 228); */
    font-weight: 300;
    letter-spacing: 1.5px;    
    transition: 0.25s ease;
    text-decoration: none;
}
.list-group, .list-group-item {
    background-color: black;
    color: white;
}
@media only screen and (max-width: 600px) {
    .dynamicFont {
        font-size: 1.6vh;
    }
}
@media only screen and (min-width: 600px and max-width: 1200px) {
    .dynamicFont {
        font-size: 1.6vw;
    }
}
@media only screen and (min-width: 1200px) {
    .dynamicFont {
        font-size: 1.8vw;
    }
}
.carousel-item {
    text-align: center;   
}
a.sub {
    color: grey;
}
.gallery-wp {
    height: 100vh; display:flex;
    align-items:center; overflow: hidden; position: relative;
}