@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body { font-family: 'Lobster', cursive; margin: 0; padding: 0; }
.full-screen { width: 100vw; min-height: 100vh; }
.flex-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.text-xl { font-size: 4rem; }
@keyframes fade-in {
    from {opacity: 0; transform: translateY(150px);}
    to {opacity: 1; transform: translateY(0);} }
@keyframes fade-right {
    from {opacity: 0; transform: translateX(1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes fade-left {
    from {opacity: 0; transform: translateX(-1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes jump-in-s {
    0% {opacity: 0; transform: scale(0.6);}
    50% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);} }
@keyframes jump-in-f {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes fade-opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-opac-slow {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fromTop {
    0% { top: -500px; }
    20% { top: -500px; }
    100% { top: 0px; }
}
html { scroll-behavior: smooth; }
.hidden, .hidden-r, .hidden-l, .hidden-jF, .hidden-jS, .hidden-o, .hidden-o2 { opacity: 0; }
.fade-in-element { animation: fade-in 2s; }
.fade-in-element-r { animation: fade-right 2s; }
.fade-in-element-l { animation: fade-left 2s; }
.jump-in-element-f { animation: jump-in-f 2s; }
.jump-in-element-s { animation: jump-in-s 4s; }
.opac { animation: fade-opac 3s; }
.opac2 { animation: fade-opac-slow 2s; }
.comeDown {
    position: relative;
    animation: 0.5s fromTop forwards;
    z-index: 1;
}
body::-webkit-scrollbar { display: none; }
body {
    color: #fbda61;
    font-family: 'Assistant', sans-serif;
    -ms-overflow-style: none;
}
.close {
    color: #fff;
    opacity: 1;
}
.close:hover {
    color: #f9d348;
    opacity: 1;
    transition: 1s ease;
}
a, h1, h2, h3, h4, h5, h6, th {
    font-weight: 600;
    letter-spacing: -0.2px;
    font-family: cursive;
}
.italian {
    font-family: cursive;
    font-size: 36px;
}
p, a, td {
    font-weight: 200;
    letter-spacing: -0.55px;
}
ul > li > a.nav-link {
    color: #fbda61;
    transition: 1s ease;
    padding: 3px 10px;
    margin: 15px 15px;
    border-bottom: 1px solid #fbda61;
    font-family: 'Assistant', sans-serif;
}
ul > li > a.nav-link:hover {
    color: white;
    background-color: rgb(248, 198, 118);
    border-bottom: 1px solid rgb(248, 198, 118);
    transition: 0.3s ease;
}
.col-md-6, .col-md-5, .col-md-7 {
    padding: 0;
}
.cover {
    background: linear-gradient(90deg, white, white);
    padding: 7px 0px 7px 0px;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }
    .cover-full { height: 800px; }
    .cover-tall { height: 700px; }
        .col-md-6, .col-md-5, .col-md-7 {
        padding: 20px;
    }
    .container-fluid {
        padding: 20px;
    }
}
.btn-gold {
    background: linear-gradient(0deg,#f4b73d, #fda730);
    color: white;
}
.btn-gold:hover {
    background: linear-gradient(0deg,#f9d348, #fdbf30);
    color: white;
}
.btn-pink {
    background: linear-gradient(0deg,#FCC5B3, #E2AB9A);
    color: white;
}
.btn-pink:hover {
    background: linear-gradient(0deg,#FCC5B3, #E2AB9A);
    color: white;
}
.quick {
    color: white;
    background-color: #f4b73d;
    padding: 0px 18px;
    margin: 0px 24px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 214px;
    transition: 0.5s ease;
    font-size: 30px;
    font-family: 'Italianno', cursive;
}
.quick:hover {
    color: whitesmoke;
    background-color: #f9d348;
    text-decoration: none;
    transition: 0.5s ease;
}
.quickhalf {
    color: white;
    background-color: #f9d348;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 214px;
    transition: 0.5s ease;
}
.quickhalf:hover {
    color: whitesmoke;
    background-color: #f4b73d;
    text-decoration: none;
    transition: 0.5s ease;
}
.quick60 { font-size: 30px;
    font-family: 'Italianno', cursive; background-color: #f4b73d; color: white; width: 214px; }
.quick60:hover { background-color:#fecb64; color: white; width: 214px; }
.bg1 { background-image: url("img/c_shop.jpg"); }
.bg-service { background-image: url("img/services.jpg"); }
.cover-full { height: 100vh; }
.cover-tall { height: 500px; }
.cover-mid { height: 300px; }
.cover-tight { height: 150px; }
.spacer-x { margin: 200px 0px; }
.spacer-l { margin: 50px 0px; }
.spacer-m { margin: 25px 0px; }
.spacer-s { margin: 15px 0px; }
.centered {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid { padding: 0 }
.jumbotron { 
    background: linear-gradient(270deg, #fecb64, #f4b73d); 
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 30px;
}
.jumbotron:hover {
    background: linear-gradient(180deg, #fecb64, #f4b73d); 
    cursor: grab;
}
.special-pad-l {
    margin: 10px 30px 10px 10px;
}
.special-pad-r {
    margin: 10px 10px 10px 30px;
}
.form-container {
    color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px 4px 2px #fecb64;
    background: linear-gradient(0deg, #f4b73d,#fecb64);
}
.form-control:focus {
    border: #FCC5B3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FCC5B3;
}
.modal-backdrop {
    color: white;
    background: linear-gradient(0deg, #f4b73d, #fecb64);
}
.modalPic {
    width: 100%;
    border-radius: 35px;
    padding: 25px;
}
.modal-content {
    background-color: #111111;
    padding: 30px;
    border: 1px #FCC5B3 solid;
}
/* ************************************************************* */
/* General image related classes */
/* ************************************************************* */
.carousel-bg1 {
    background-image: url("img/black.jpg");
    height: 600px;
    width: 100%;
}
.carousel-bg2 {
    background-image: url("img/c_shop.jpg");
    height: 600px;
    width: 100%;
}
.carousel-bg3 {
    background-image: url("img/c_blog.jpg");
    height: 600px;
    width: 100%;
}
.carousel-bg4 {
    background-image: url("img/c_lounge.jpg");
    height: 600px;
    width: 100%;
}
.carousel-bgX {
    background: linear-gradient(0deg, #FCC5B3, #C89688);
    color: white;
    height: 600px;
    width: 100%;
    border-radius: 10px;
}
.blog {
    background-size: cover;
    width: 100%;
}
.blog-wallpaper-1 { background-image: url("img/c_lounge.jpg"); }
.blog-wallpaper-2 { background-image: url("img/c_shop.jpg"); }
.blog-wallpaper-3 { background-image: url("img/c_blog.jpg"); }
.blog-wallpaper-4 { background-image: url("img/c_contact.jpg"); }
.hoverer {
    transform: scale(1, 1);
    filter: saturate(0);
    transition: 0.2s ease;
}
.hoverer:hover {
    transform: scale(1.05, 1.05);
    filter: saturate(100%);
    transition: 0.4s ease;
}
.shop {
    border-radius: 10px;
    border: 2px solid #fecb64;
    padding: 25px;
}
.smedia {
    width: 100px;
    margin: 15px;
    transition: 1s ease;
}
.smedia:hover {
    width: 100px;
    opacity: 0.8;
    transition: 1s ease;
}

/* ************************************************************* */

/* ************************************************************* */
/* The following styles are used for the FRONT PAGE (Enter Site) */
/* ************************************************************* */
.frame {
    width: 100%;
    position: relative;
}
#container {
    background-color: #111111;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-family: 'Assistant', sans-serif;
}
.image-centered-v {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.bottom-center {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#animatedModal .modal-content {
    background-color: #111111;
    border-radius: 0;
    border: 0
}
.enter-site {
    /* background: linear-gradient(0deg, #E2AB9A, #A67061); */
    background-color: #fecb64;
    color: white;
    padding: 10px 65px;
    border-radius: 15px;
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: 1s ease;
}
.enter-site:hover {
    /* background: linear-gradient(0deg, #ecb9a9, #c89688); */
    background-color: #fbda61;
    transition: 1s ease;
    text-decoration: none;
    color: white;
}
/* ************************************************************* */
input, option {
    border-radius: 5px;
    padding: 5px;
    color: #A67061;
    border: 0px;
    margin: 5px;
    box-sizing: border-box;
}
#mc_embed_signup_scroll {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
.colored {
    background: linear-gradient(0deg, #111111, #222222);
}
.beauty {
    filter: blur(0.3);
    border-radius: 5px;
    border: 2px solid #f3c9bd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* TAB in BEAUTY LOUNGE */
ul.nav-tabs, ul.nav {
    align-items: center;
    justify-content: space-around;
}

ul.nav-tabs > li > a {
    color: white;
    font-size: 30px;
    transition: 1s ease;
    text-decoration: none;
    font-family: 'Italianno', cursive;
}

ul.nav-tabs > li > a:hover {
    color: #f9d348;
    transition: 1s ease;
    text-decoration: none;
}

.tab-content {
    text-align: center;
}