@keyframes fade-in {
    from {opacity: 0; transform: translateY(150px);}
    to {opacity: 1; transform: translateY(0);} }
@keyframes fade-right {
    from {opacity: 0; transform: translateX(1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes fade-left {
    from {opacity: 0; transform: translateX(-1000px);}
    to {opacity: 1; transform: translateX(0);} }
@keyframes jump-in-s {
    0% {opacity: 0; transform: scale(0.6);}
    50% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);} }
@keyframes jump-in-f {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes fade-opac {
    0%   { opacity: 0; filter: blur(20px); }
    20%  { opacity: 0; }
    100% { opacity: 1; filter: blur(0px); }
}
@keyframes fade-opac-slow {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fromTop {
    0% { top: -500px; }
    20% { top: -500px; }
    100% { top: 0px; }
}
.hidden, .hidden-r, .hidden-l, .hidden-jF, .hidden-jS, .hidden-o, .hidden-o2 { opacity: 0; }
.fade-in-element { animation: fade-in 2s; }
.fade-in-element-r { animation: fade-right 2s; }
.fade-in-element-l { animation: fade-left 2s; }
.jump-in-element-f { animation: jump-in-f 2s; }
.jump-in-element-s { animation: jump-in-s 4s; }
.opac { animation: fade-opac 3s; }
.opac2 { animation: fade-opac-slow 4s; }
.comeDown {
    position: relative;
    animation: 2.5s fromTop forwards;
    z-index: 1;
}
.height {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-bg1 { background-image: url("img/wall.jpg"); }
.carousel-bg2 { background-image: url("img/wallguy.jpg"); }
.carousel-bg3 { background-image: url("img/tall_wall2.jpg"); }
.carousel-bg4 { background-image: url("img/tall_wall1.jpg"); }
.carousel-bg5 { background-image: url("img/gear3.jpg"); }
.carousel-bg6 { background-image: url("img/tall_wall3.jpg"); }
.carousel-bg7 { background-image: url("img/truck.jpg"); }
.carousel-bg8 { background-image: url("img/wall2.jpg"); }
.carousel-bg9 { background-image: url("img/inside_comp.jpg"); }
.carousel-bg10 { background-image: url("img/fan.jpg"); }
.carousel-bg11 { background-image: url("img/inside_comp2.jpg"); }
.carousel-bg12 { background-image: url("img/pic3.jpg"); }
.carousel-bg13 { background-image: url("img/inside_comp3.jpg"); }
.carousel-bg14 { background-image: url(""); }
.spacer-xl { margin-top: 200px; margin-bottom: 200px; }
.spacer { margin-top: 50px; margin-bottom: 50px; }
.spacer-sm { margin-top: 30px; margin-bottom: 30px; }
.spacer-xs { margin-top: 10px; margin-bottom: 10px; }
.spacer-xxs { margin-top: 5px; margin-bottom: 5px; }
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar { display: none; }
iframe { overflow: hidden; }
body {
    background: linear-gradient(180deg, #191818, #151414);
    color: #FAFAFA;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    text-align: center;
    -ms-overflow-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    letter-spacing: -0.25px;
    color: #E4AF77;
    text-shadow: 0.5px 0.5px 25px #E4AF77;
    transition: 1s ease;
}
h3:hover {
    text-shadow: 1px 1px 10px white;
    transition: 1s ease;
}
.white {
    font-weight: 100;
    letter-spacing: -0.75px;
    color: white;
}

/* Colors */
/* Gold: #e4af77 */
/* Silver: #d6d4d0 */
/* Black: #232121 */
/* White: #ffffff */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#top-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.darker {
    filter: brightness(75%);
}
p {
    color: black;
    font-size: 2vw;
}
.bg1 { background-image: url("img/w_mine.jpg"); }
.bg2 { background-image: url("img/w_wires2.jpg"); height: 750px }
.icon {
    width: 100px;
    opacity: 1;
    padding: 5px;
    transition: 1s ease;
}
.icon:hover {
    width: 100px;
    opacity: 0.8;
    transition: 1s ease;
}
@media screen and (max-width: 768px) {
    p {
        color: black;
        font-size: 18px;
    }
    .parallax {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }
    .height {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    }
}
@media screen and (min-width: 1920px) {
    p {
        color: black;
        font-size: 1.3vw;
    }
    .bg2 { background-image: url("img/w_wires2.jpg"); height: 900px }
    .height {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }
}
.centered {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.centered-br {
    position: absolute;
    bottom: 0;
    right: 0;
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
    background: linear-gradient(0deg, #d6d4d0, #ffffff);
    border-radius: 0px;
}
.jumbotron h3, .jumbotron p {
    color: #232121;
    text-shadow: 0.2px 0.2px 15px #232121;
}
.email {
    color: #E4AF77;
    font-weight: 300;
    text-shadow: 0.2px 0.2px 15px #FAFAFA;
    text-decoration: none;
    transition: 1s ease;
}
.email:hover {
    color: silver;
    font-weight: 300;
    text-shadow: 0.2px 0.2px 15px #E4AF77;
    text-decoration: none;
    transition: 1s ease;
}
input {
    font-weight: 100;
}
.btn-mine {
    color: white;
    background-color: #232121;
}
.btn-mine:hover {
    background-color: #E4AF77;
}
::placeholder {
    font-weight: 100;
}
.form-control:focus {
    border: 1px solid #E4AF77;
    border-radius: 0;
    box-shadow: 0 0 0 0.1rem rgba(167, 140, 40, 0.25);
} 